name: Rust CI/CD

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write # Nécessaire pour mettre à jour la Release

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
    
    - name: Download assets
      run: |
        New-Item -ItemType Directory -Force -Path bin
        gh release download latest --pattern "*.exe" --dir bin --repo ${{ github.repository }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: pwsh
      continue-on-error: true # Ne bloque pas si la release est vide au début

    - name: Build
      run: cargo build --release --verbose # Build optimisé
    
    - name: Check Warnings
      env:
        RUSTFLAGS: "-D warnings"
      run: cargo check --all-targets

    - name: Update Rolling Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: latest
        name: "Dernière version (Auto)"
        files: target/release/*.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}