name: Rust CI/CD
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
    
    - name: Download binaries
      run: |
        New-Item -ItemType Directory -Force -Path bin
        gh release download --pattern "*.exe" --dir bin --repo ${{ github.repository }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: pwsh
      continue-on-error: true
    
    # NETTOYAGE INTÉGRAL DES ANCIENNES VERSIONS
    - name: Cleanup old versions
      run: |
        $old_files = @("bin/oxyon.exe", "bin/oxyon-full.exe", "bin/oxyon-office.exe", "oxyon.exe", "oxyon-full.exe", "oxyon-office.exe")
        foreach ($f in $old_files) {
          if (Test-Path $f) { 
            Remove-Item $f -Force
            Write-Host "Nettoyé : $f"
          }
        }
      shell: pwsh

    # 1. BUILD VERSION COMPLÈTE
    - name: Build Full Version
      run: cargo build --release --verbose

    - name: Prepare Full Binary
      run: Copy-Item target/release/oxyon.exe oxyon-full.exe
      shell: pwsh

    # 2. BUILD VERSION OFFICE (MINIMALE)
    - name: Build Office Version
      run: cargo build --release --no-default-features --verbose

    - name: Prepare Office Binary
      run: Copy-Item target/release/oxyon.exe oxyon-office.exe
      shell: pwsh

    - name: Check Warnings
      env:
        RUSTFLAGS: "-D warnings"
      run: cargo check --all-targets

    # DÉPLOIEMENT
    - name: Deploy Rolling Release
      uses: softprops/action-gh-release@v2
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      with:
        tag_name: latest
        body: |
          ### Available versions
          - **oxyon-full.exe** : Complete version contains following modules: (Archives, Audio, Docs, Pictures, Scrap, Tag, Vidéo)
          - **oxyon-office.exe** : Office version contains following modules: (Doc and Pictures)
          
          ###Assets (You don't need this)
          - FFmpeg / FFprobe : [8.0.2]
          - 7-Zip (7za) : [25.1]
          - Pandoc : [3.8.3]
          - Mkvpropedit : [97.0]
          
          *Last update the ${{ github.event.head_commit.timestamp }}*
        files: |
          oxyon-full.exe
          oxyon-office.exe
          bin/*.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}