name: Rust CI/CD
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
    
    - name: Download binaries
      run: |
        New-Item -ItemType Directory -Force -Path bin
        gh release download --pattern "*.exe" --dir bin --repo ${{ github.repository }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: pwsh
      continue-on-error: true
    
    - name: Build
      run: cargo build --verbose
    
    - name: Check Warnings
      env:
        RUSTFLAGS: "-D warnings"
      run: cargo check --all-targets

    - name: Deploy Rolling Release
      uses: softprops/action-gh-release@v2
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      with:
        tag_name: latest
        files: |
          target/debug/oxyon.exe
          bin/*.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}