name: Rust CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
    
    - name: Download binaries from release to bin/
      run: |
        gh release download latest --pattern "*.exe" --dir . --repo ${{ github.repository }}
        New-Item -ItemType Directory -Force -Path bin
        Get-ChildItem -Path . -Filter "*.exe" -Recurse | Move-Item -Destination bin/ -Force
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: pwsh
    
    - name: Build
      run: cargo build --verbose
    
    - name: Check Warnings
      run: cargo check --all-targets -- -D warnings